<!DOCTYPE html>
<html>
<head>
  <title>Launch VNC</title>
  <style>
    html, body {
      font-family: sans-serif;
      background: #f0f0f0;
      margin: 4em;
    }

    .main {
      background: white;
      border: solid 1px #c0c0c0;
      border-radius: 8px;
      padding: 2em;
    }
  </style>
</head>
<body>

  <section class="main">
    <h1>Hello!</h1>
    <p>You can connect to the VNC server from here!</p>
    <a href="https://<ood-host>/rnode/localhost/vnc.html?host=<ood-host>/node/localhost/6901&autoconnect=true">
	  <button>Click me to get redirected!</button>
  </a>

  </section>

</body>
</html>
